# Final project
## Team member
- Yiran Shen (48907570)
- Rylee Wang (95006185)
- Yeongu Choe (77672566)

In [2]:
import pandas as pd
import numpy as np
import geopandas as gpd

## Read CSV files

In [3]:
homeRestriction = pd.read_csv("./src/stay-at-home-covid.csv")
faceCovering = pd.read_csv("./src/face-covering-policies-covid.csv")
internationalDomesticTravel = pd.read_csv("./src/public-transport-covid.csv")
vaccinationPolicy = pd.read_csv("./src/covid-vaccination-policy.csv")

### Extract data from US, Canada, Mexico, Brazil, China, Japan and South Korea

In [22]:
extractedHomeRestriction = homeRestriction.loc[(homeRestriction["Entity"] == "United States")
                                               | (homeRestriction["Entity"] == "Canada")
                                               | (homeRestriction["Entity"] == "Mexico")
                                               | (homeRestriction["Entity"] == "Brazil")
                                               | (homeRestriction["Entity"] == "China")
                                               | (homeRestriction["Entity"] == "Japan")
                                               | (homeRestriction["Entity"] == "South Korea")]
extractedHomeRestriction

               Entity Code         Day  stay_home_requirements
25208          Brazil  BRA  2020-01-01                       0
25209          Brazil  BRA  2020-01-02                       0
25210          Brazil  BRA  2020-01-03                       0
25211          Brazil  BRA  2020-01-04                       0
25212          Brazil  BRA  2020-01-05                       0
...               ...  ...         ...                     ...
192978  United States  USA  2022-12-27                       1
192979  United States  USA  2022-12-28                       1
192980  United States  USA  2022-12-29                       1
192981  United States  USA  2022-12-30                       1
192982  United States  USA  2022-12-31                       1

[7672 rows x 4 columns]

In [23]:
extractedFaceCovering = faceCovering.loc[(faceCovering["Entity"] == "United States")
                                               | (faceCovering["Entity"] == "Canada")
                                               | (faceCovering["Entity"] == "Mexico")
                                               | (faceCovering["Entity"] == "Brazil")
                                               | (faceCovering["Entity"] == "China")
                                               | (faceCovering["Entity"] == "Japan")
                                               | (faceCovering["Entity"] == "South Korea")]
extractedFaceCovering

               Entity Code         Day  facial_coverings
25208          Brazil  BRA  2020-01-01                 0
25209          Brazil  BRA  2020-01-02                 0
25210          Brazil  BRA  2020-01-03                 0
25211          Brazil  BRA  2020-01-04                 0
25212          Brazil  BRA  2020-01-05                 0
...               ...  ...         ...               ...
193264  United States  USA  2022-12-27                 2
193265  United States  USA  2022-12-28                 2
193266  United States  USA  2022-12-29                 2
193267  United States  USA  2022-12-30                 2
193268  United States  USA  2022-12-31                 2

[7672 rows x 4 columns]

In [24]:
extractedInternationalDomesticTravel = internationalDomesticTravel.loc[(internationalDomesticTravel["Entity"] == "United States")
                                                                       | (internationalDomesticTravel["Entity"] == "Canada")
                                                                       | (internationalDomesticTravel["Entity"] == "Mexico")
                                                                       | (internationalDomesticTravel["Entity"] == "Brazil")
                                                                       | (internationalDomesticTravel["Entity"] == "China")
                                                                       | (internationalDomesticTravel["Entity"] == "Japan")
                                                                       | (internationalDomesticTravel["Entity"] == "South Korea")]
extractedInternationalDomesticTravel

               Entity Code         Day  close_public_transport
25208          Brazil  BRA  2020-01-01                       0
25209          Brazil  BRA  2020-01-02                       0
25210          Brazil  BRA  2020-01-03                       0
25211          Brazil  BRA  2020-01-04                       0
25212          Brazil  BRA  2020-01-05                       0
...               ...  ...         ...                     ...
192978  United States  USA  2022-12-27                       0
192979  United States  USA  2022-12-28                       0
192980  United States  USA  2022-12-29                       0
192981  United States  USA  2022-12-30                       0
192982  United States  USA  2022-12-31                       0

[7672 rows x 4 columns]

In [25]:
extractedVaccinationPolicy = vaccinationPolicy.loc[(internationalDomesticTravel["Entity"] == "United States")
                                                   | (vaccinationPolicy["Entity"] == "Canada")
                                                   | (vaccinationPolicy["Entity"] == "Mexico")
                                                   | (vaccinationPolicy["Entity"] == "Brazil")
                                                   | (vaccinationPolicy["Entity"] == "China")
                                                   | (vaccinationPolicy["Entity"] == "Japan")
                                                   | (vaccinationPolicy["Entity"] == "South Korea")]
extractedVaccinationPolicy

               Entity Code         Day  vaccination_policy
25208          Brazil  BRA  2020-01-01                   0
25209          Brazil  BRA  2020-01-02                   0
25210          Brazil  BRA  2020-01-03                   0
25211          Brazil  BRA  2020-01-04                   0
25212          Brazil  BRA  2020-01-05                   0
...               ...  ...         ...                 ...
192978  United States  USA  2022-01-19                   5
192979  United States  USA  2022-01-20                   5
192980  United States  USA  2022-01-21                   5
192981  United States  USA  2022-01-22                   5
192982  United States  USA  2022-01-23                   5

[7672 rows x 4 columns]