# Final project
## Team member
- Yiran Shen (48907570)
- Rylee Wang (95006185)
- Yeongu Choe (77672566)

In [41]:
import pandas as pd
import numpy as np
import geopandas as gpd

# Topic: We are trying to find impact of COVID on Tourism industry

## Read CSV files

In [42]:
rawHomeRestrictionData = pd.read_csv("./src/stay-at-home-covid.csv")
rawFaceCoveringData = pd.read_csv("./src/face-covering-policies-covid.csv")
rawInternationalTravelControlData = pd.read_csv("./src/international-travel-covid.csv")

### Extract data from US, Canada, Mexico, Brazil, China, Japan and South Korea

In [43]:
# 0: No policy
# 1: Recommended by government not to leave home
# 2: Required not to leave except for grocery shopping
# 3: Required not to leave home
HomeRestriction = rawHomeRestrictionData.loc[(rawHomeRestrictionData["Entity"] == "United States")
                                             | (rawHomeRestrictionData["Entity"] == "Canada")
                                             | (rawHomeRestrictionData["Entity"] == "Mexico")
                                             | (rawHomeRestrictionData["Entity"] == "Brazil")
                                             | (rawHomeRestrictionData["Entity"] == "China")
                                             | (rawHomeRestrictionData["Entity"] == "Japan")
                                             | (rawHomeRestrictionData["Entity"] == "South Korea")]
HomeRestriction

               Entity Code         Day  stay_home_requirements
25208          Brazil  BRA  2020-01-01                       0
25209          Brazil  BRA  2020-01-02                       0
25210          Brazil  BRA  2020-01-03                       0
25211          Brazil  BRA  2020-01-04                       0
25212          Brazil  BRA  2020-01-05                       0
...               ...  ...         ...                     ...
192978  United States  USA  2022-12-27                       1
192979  United States  USA  2022-12-28                       1
192980  United States  USA  2022-12-29                       1
192981  United States  USA  2022-12-30                       1
192982  United States  USA  2022-12-31                       1

[7672 rows x 4 columns]

In [44]:
# 0: No policy
# 1: Recommended by government
# 2: Required in some public spaces
# 3: Required in all public spaces
# 4: Required outdoor all times
FaceCoveringPolicy = rawFaceCoveringData.loc[(rawFaceCoveringData["Entity"] == "United States")
                                       | (rawFaceCoveringData["Entity"] == "Canada")
                                       | (rawFaceCoveringData["Entity"] == "Mexico")
                                       | (rawFaceCoveringData["Entity"] == "Brazil")
                                       | (rawFaceCoveringData["Entity"] == "China")
                                       | (rawFaceCoveringData["Entity"] == "Japan")
                                       | (rawFaceCoveringData["Entity"] == "South Korea")]
FaceCoveringPolicy

               Entity Code         Day  facial_coverings
25208          Brazil  BRA  2020-01-01                 0
25209          Brazil  BRA  2020-01-02                 0
25210          Brazil  BRA  2020-01-03                 0
25211          Brazil  BRA  2020-01-04                 0
25212          Brazil  BRA  2020-01-05                 0
...               ...  ...         ...               ...
193264  United States  USA  2022-12-27                 2
193265  United States  USA  2022-12-28                 2
193266  United States  USA  2022-12-29                 2
193267  United States  USA  2022-12-30                 2
193268  United States  USA  2022-12-31                 2

[7672 rows x 4 columns]

In [45]:
# 0: No policy
# 1: Screening travellers
# 2: 2 weeks quarantine for travellers from high risk regions
# 3: Ban any travellers from high risk countries
# 4: Close border (No foreigners enter the country)
InternationalTravelControl = rawInternationalTravelControlData.loc[(rawInternationalTravelControlData["Entity"] == "United States")
                                          | (rawInternationalTravelControlData["Entity"] == "Canada")
                                          | (rawInternationalTravelControlData["Entity"] == "Mexico")
                                          | (rawInternationalTravelControlData["Entity"] == "Brazil")
                                          | (rawInternationalTravelControlData["Entity"] == "China")
                                          | (rawInternationalTravelControlData["Entity"] == "Japan")
                                          | (rawInternationalTravelControlData["Entity"] == "South Korea")]
InternationalTravelControl

               Entity Code         Day  international_travel_controls
25208          Brazil  BRA  2020-01-01                              0
25209          Brazil  BRA  2020-01-02                              0
25210          Brazil  BRA  2020-01-03                              0
25211          Brazil  BRA  2020-01-04                              0
25212          Brazil  BRA  2020-01-05                              0
...               ...  ...         ...                            ...
192986  United States  USA  2022-12-27                              1
192987  United States  USA  2022-12-28                              1
192988  United States  USA  2022-12-29                              1
192989  United States  USA  2022-12-30                              1
192990  United States  USA  2022-12-31                              1

[7680 rows x 4 columns]