# Final project
## Team member
- Yiran Shen (48907570)
- Rylee Wang (95006185)
- Yeongu Choe (77672566)

In [9]:
import pandas as pd
import numpy as np
import geopandas as gpd

## Read CSV files

In [10]:
rawHomeRestrictionData = pd.read_csv("./src/stay-at-home-covid.csv")
rawFaceCoveringData = pd.read_csv("./src/face-covering-policies-covid.csv")
rawInternationalDomesticTravelData = pd.read_csv(
    "./src/public-transport-covid.csv")
rawVaccinationPolicyData = pd.read_csv("./src/covid-vaccination-policy.csv")

### Extract data from US, Canada, Mexico, Brazil, China, Japan and South Korea

In [11]:
HomeRestriction = rawHomeRestrictionData.loc[(rawHomeRestrictionData["Entity"] == "United States")
                                             | (rawHomeRestrictionData["Entity"] == "Canada")
                                             | (rawHomeRestrictionData["Entity"] == "Mexico")
                                             | (rawHomeRestrictionData["Entity"] == "Brazil")
                                             | (rawHomeRestrictionData["Entity"] == "China")
                                             | (rawHomeRestrictionData["Entity"] == "Japan")
                                             | (rawHomeRestrictionData["Entity"] == "South Korea")]
HomeRestriction

               Entity Code         Day  stay_home_requirements
25208          Brazil  BRA  2020-01-01                       0
25209          Brazil  BRA  2020-01-02                       0
25210          Brazil  BRA  2020-01-03                       0
25211          Brazil  BRA  2020-01-04                       0
25212          Brazil  BRA  2020-01-05                       0
...               ...  ...         ...                     ...
192978  United States  USA  2022-12-27                       1
192979  United States  USA  2022-12-28                       1
192980  United States  USA  2022-12-29                       1
192981  United States  USA  2022-12-30                       1
192982  United States  USA  2022-12-31                       1

[7672 rows x 4 columns]

In [12]:
FaceCovering = rawFaceCoveringData.loc[(rawFaceCoveringData["Entity"] == "United States")
                                       | (rawFaceCoveringData["Entity"] == "Canada")
                                       | (rawFaceCoveringData["Entity"] == "Mexico")
                                       | (rawFaceCoveringData["Entity"] == "Brazil")
                                       | (rawFaceCoveringData["Entity"] == "China")
                                       | (rawFaceCoveringData["Entity"] == "Japan")
                                       | (rawFaceCoveringData["Entity"] == "South Korea")]
FaceCovering

               Entity Code         Day  facial_coverings
25208          Brazil  BRA  2020-01-01                 0
25209          Brazil  BRA  2020-01-02                 0
25210          Brazil  BRA  2020-01-03                 0
25211          Brazil  BRA  2020-01-04                 0
25212          Brazil  BRA  2020-01-05                 0
...               ...  ...         ...               ...
193264  United States  USA  2022-12-27                 2
193265  United States  USA  2022-12-28                 2
193266  United States  USA  2022-12-29                 2
193267  United States  USA  2022-12-30                 2
193268  United States  USA  2022-12-31                 2

[7672 rows x 4 columns]

In [13]:
InternationalDomesticTravel = rawInternationalDomesticTravelData.loc[(rawInternationalDomesticTravelData["Entity"] == "United States")
                                                                     | (rawInternationalDomesticTravelData["Entity"] == "Canada")
                                                                     | (rawInternationalDomesticTravelData["Entity"] == "Mexico")
                                                                     | (rawInternationalDomesticTravelData["Entity"] == "Brazil")
                                                                     | (rawInternationalDomesticTravelData["Entity"] == "China")
                                                                     | (rawInternationalDomesticTravelData["Entity"] == "Japan")
                                                                     | (rawInternationalDomesticTravelData["Entity"] == "South Korea")]
InternationalDomesticTravel

               Entity Code         Day  close_public_transport
25208          Brazil  BRA  2020-01-01                       0
25209          Brazil  BRA  2020-01-02                       0
25210          Brazil  BRA  2020-01-03                       0
25211          Brazil  BRA  2020-01-04                       0
25212          Brazil  BRA  2020-01-05                       0
...               ...  ...         ...                     ...
192978  United States  USA  2022-12-27                       0
192979  United States  USA  2022-12-28                       0
192980  United States  USA  2022-12-29                       0
192981  United States  USA  2022-12-30                       0
192982  United States  USA  2022-12-31                       0

[7672 rows x 4 columns]

In [14]:
VaccinationPolicy = rawVaccinationPolicyData.loc[(rawInternationalDomesticTravelData["Entity"] == "United States")
                                                 | (rawVaccinationPolicyData["Entity"] == "Canada")
                                                 | (rawVaccinationPolicyData["Entity"] == "Mexico")
                                                 | (rawVaccinationPolicyData["Entity"] == "Brazil")
                                                 | (rawVaccinationPolicyData["Entity"] == "China")
                                                 | (rawVaccinationPolicyData["Entity"] == "Japan")
                                                 | (rawVaccinationPolicyData["Entity"] == "South Korea")]
VaccinationPolicy

               Entity Code         Day  vaccination_policy
25208          Brazil  BRA  2020-01-01                   0
25209          Brazil  BRA  2020-01-02                   0
25210          Brazil  BRA  2020-01-03                   0
25211          Brazil  BRA  2020-01-04                   0
25212          Brazil  BRA  2020-01-05                   0
...               ...  ...         ...                 ...
192978  United States  USA  2022-01-19                   5
192979  United States  USA  2022-01-20                   5
192980  United States  USA  2022-01-21                   5
192981  United States  USA  2022-01-22                   5
192982  United States  USA  2022-01-23                   5

[7672 rows x 4 columns]

In [15]:
# Travel restriction